<%- include('partials/header') %>

<div class="box text-center">
  <div class="container">
    <p>This username already exists.Try with another username.</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/registerkaro" role="button">Do Register</a>
    <a class="btn btn-info btn-lg" href="/loginkaro" role="button">Login</a>
    <br>
  </div>
</div>

<%- include('partials/footer') %>