<%- include('partials/header1') %>

<div class="jumbotron centered">
  <div class="container">
    

    <img class="x" src="css/global-connection.png" height="200" width="200">
    <hr>
    <h2 class="display-4">Stay Connected With Your Friends</h2>
    <hr>
    <a class="btn btn-light btn-lg" href="/registerKaro" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginKaro" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
