<%- include('partials/header') %>

<div class="box text-center">
  <div class="container">
    <p>You are not registered.Please REGISTER first.</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/registerkaro" role="button">Do Register</a>
    <br>
  </div>
</div>

<%- include('partials/footer') %>