<%- include('partials/header1') %>

<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/registerKaro" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" required>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
              <label for="file">File</label> (Please upload file of maximum 1MB size)
              <input type="file" class="form-control" name="file" required>
            </div>
            <div class="form-group">
              <div class="radio">
                <input type="radio" name="gender" value="Male" required>
                <i class="check-box"></i>Male
              </div>
              <div class="radio">
                <input type="radio" name="gender" value="Female" required>
                <i class="check-box"></i>Female
              </div>
            </div>
            <button type="submit" class="btn btn-dark" onclick="onRegister(this);">Register</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>

      <!--<div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>
        </div>
      </div>-->
    </div> 

  </div>
</div>

<%- include('partials/footer') %>
<!--<script>
  function onRegister(button){ 
    if(Error instanceof MulterError){
      event.preventDefault();
      alert("Please fill all the details and upload profile image of maximum 1MB size");
    }
   
  } 
</script>-->